@import url("snow.css");
@import url("card.css");
@import url("modal.css");

body {
  background-image: url("/image/bg.png");
  background-size: cover;
  background-position: center;
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
}

/* 그리드 설계 */
.grid-1 {
  display: grid;
  width: 90vw;
  max-width: 900px;
  margin: 2% auto;
  z-index: 1;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 25px;

  grid-template-areas:
    "t        t       t"
    "d23      d20     d12"
    "d2       d14     d4"
    "d5       d22     d16"
    "d1       d7      d9"
    "d10      d11     d18"
    "d13      d3      d15"
    "d6       d17     d8"
    "d19      d24     d21";
}

@media only screen and (min-width: 500px) {
  .grid-1 {
    /* 너비를 기준으로 높이를 계산 */
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "t     t     t     d2      d7      d8"
      "t     t     t     d4      d11     d12"
      "t     t     t     d19     d9      d13"
      "d6    d1    d24   d24     d21     d20"
      "d17   d18   d24   d24     d5      d22"
      "d3    d23   d16   d14     d10     d15";
  }
}

/* flex 속성 */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-baseline {
  align-items: baseline;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: center;

  grid-area: t;
}

.title img {
  width: 90%;
  height: auto;
}

/* flex 속성 */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-baseline {
  align-items: baseline;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: center;

  grid-area: t;
}

.title img {
  width: 90%;
  height: auto;
}
